<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv6 online with Flask</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <style>
        ul{
            -moz-column-count: 7;
            -webkit-column-count: 7;
            column-count: 7;
            list-style: none;
        }
        input[type=checkbox]{
            vertical-align: middle;
            position: relative;
            bottom: 1px;
        }
        label{
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div align="center">
        <h1>YOLOv6 online with Flask</h1>
        {% if not filename %}
        <h3>Select an image to upload</h3>
        {% else %}
        <h1>Upload successful</h1>
        {% endif %}
    </div>
    
    <div class="container">
        <div class="row">
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" class="form-control" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" class="btn btn-info">
                </p>
                <!-- Show classes' checkboxes -->
                <p>Default: all listed objects</p>
                <ul>
                    {% for yolo_class in class_list %}
                    <li>
                        <label for="mycheckbox">
                            <input type="checkbox" value={{yolo_class}} name="mycheckbox" style="vertical-align: middle;">
                            {{yolo_class}}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </form>


            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </p>
            {% if filename %}
                
                <a href="{{ url_for('download', filename=filename) }}"><button class="btn btn-success">Download</button></a>
                <div>
                    <img src="{{ url_for('display_image', filename=filename) }}" style="width: 1024px;">
                </div>
                <h4>{{ filename }}</h4><br>
            {% endif %}
            
        </div>
    </div>

</body>
</html>