<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv6</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <style>
        ul{
            -moz-column-count: 7;
            -webkit-column-count: 7;
            column-count: 7;
            list-style: none;
        }
        input[type=checkbox]{
            vertical-align: middle;
            position: relative;
            bottom: 1px;
        }
        label{
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">

                <h1 class="mb-5">Flask img upload and show</h1>

                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {% for error in form.photo.errors %}
                        <span style="color: red;"> {{ error }} </span>
                    {% endfor %}

                    

                    <div class="row justify-content-center">
                        <!-- Show upload image form -->
                        <div class="col-auto">
                            {{ form.photo(class="form-control") }}
                        </div>
                    </div>
                    
                        <!-- Show classes' checkboxes -->
                        <ul>
                        {% for yolo_class in class_list %}
                        <li>
                            <label for="mycheckbox">
                            <input type="checkbox" value={{yolo_class}} name="mycheckbox" style="vertical-align: middle;"><!-- {{yolo_class}} -->
                            {{yolo_class}}
                            </label>
                        </li>
                        {% endfor %}
                        </ul>

                        <!-- Submit button -->
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            {{ form.submit(class="btn btn-success") }}
                        </div>
                    </div>

                </form>
                
                    
                <!-- Show results -->
                {% if file_url %}
                    <!-- Show image name -->
                    <p>File received: {{ file_url.split('/')[-1] }}</p>

                    <!-- Show result (number of objects detected) -->
                    {% if num_objs == None or num_objs==0 %}
                        <p>Cannot detect any object</p>
                    {% else %}
                        <p>Detected {{num_objs}} object(s)</p>
                        <p>{{ ' - '.join(class_names) }}</p>
                    {% endif %}

                    <!-- Show result image -->
                    <div class="mt-5">
                        <img src="{{ file_url }}" style="width: 500px;">
                    </div>

                {% else %}
                    <p>Please upload image</p>
                {% endif %}

                
            </div>
            
        </div>
    </div>



</body>

</html>
